
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" placeholder="username" formControlName="username">
    <br><br>
    <input type="text" placeholder="password" formControlName="password">
    <br><br>
    <button>Login</button>
</form>
