<h2>Login</h2>
<form #ContactForm="ngForm" (ngSubmit)="loginUser(ContactForm)">
<input type="text" placeholder="username"  name="username" ngModel>
    <br><br>
<input type="text" placeholder="password" name="password" ngModel>
    <br><br>
<button>Login</button>
   
    <br><br>
</form>

<form >
    <input type="text" name="title" [(ngModel)]="title">
    {{title}}
    <br><br>
</form>


